%h1 Slaq
- @rooms.each do |room|
  .room{id: "room_#{room.id}"}
    .messages
      = render partial: 'messages/message', collection: @messages[room.id], as: :message

    %form
      %input{type: 'text', data: {behavior: 'room_speaker', 'room-id' => room.id}}

